* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
:host {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  background: url('/fundo-onibus.png') no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 400px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 35px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  height: 45px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1565c0;
}